{% extends "base.html" %}

{% block content %}
  <h1>{{ issue.summary }}</h1>
  <p>{{ issue.description }}</p>
  <p><strong>Тип:</strong> {{ issue.type }}</p>
  <p><strong>Статус:</strong> {{ issue.status }}</p>
  <p><strong>Дата создания:</strong> {{ issue.created_at }}</p>
  <p><strong>Дата обновления:</strong> {{ issue.updated_at }}</p>
  <a href="{% url 'issue_update' issue.pk %}">Редактировать</a>
  <a href="{% url 'issue_delete' issue.pk %}">Удалить</a>
  <a href="{% url 'issue_list' %}">Вернуться</a>
{% endblock %}
